In [84]:
import warnings
warnings.filterwarnings('ignore')

In [85]:
import numpy as np
import pandas as pd
from pathlib import Path
from collections import Counter
import matplotlib.pyplot as plt

In [86]:
df = pd.read_csv("D:\School\Final\ML_data_unscaled_dummys_encoded.csv")
df.head()

,ID,Age,Hours_per_day,BPM,Anxiety,Depression,Insomnia,OCD,While_working_No,While_working_Yes,...,Rock_Rarely,Rock_Sometimes,Rock_Very frequently,Video game music_Never,Video game music_Rarely,Video game music_Sometimes,Video game music_Very frequently,Music_effects_Improve,Music_effects_No effect,Music_effects_Worsen
0,1,18,4.0,132,7.0,7,10,2.0,1,0,...,1,0,0,0,0,0,1,0,1,0
1,2,61,2.5,84,9.0,7,3,3.0,0,1,...,0,0,0,1,0,0,0,1,0,0
2,3,18,4.0,107,7.0,2,5,9.0,0,1,...,0,0,0,0,1,0,0,1,0,0
3,4,18,5.0,86,8.0,8,7,7.0,0,1,...,0,0,1,1,0,0,0,1,0,0
4,5,18,3.0,66,4.0,8,6,0.0,0,1,...,0,0,0,0,0,1,0,1,0,0

In [87]:
# Define the features set.
X = df.copy()
X = X.drop(["Depression", "Anxiety", "OCD", "Insomnia"], axis=1)
X.head()

,ID,Age,Hours_per_day,BPM,While_working_No,While_working_Yes,Instrumentalist_No,Instrumentalist_Yes,Composer_No,Composer_Yes,...,Rock_Rarely,Rock_Sometimes,Rock_Very frequently,Video game music_Never,Video game music_Rarely,Video game music_Sometimes,Video game music_Very frequently,Music_effects_Improve,Music_effects_No effect,Music_effects_Worsen
0,1,18,4.0,132,1,0,1,0,1,0,...,1,0,0,0,0,0,1,0,1,0
1,2,61,2.5,84,0,1,1,0,0,1,...,0,0,0,1,0,0,0,1,0,0
2,3,18,4.0,107,0,1,1,0,1,0,...,0,0,0,0,1,0,0,1,0,0
3,4,18,5.0,86,0,1,0,1,0,1,...,0,0,1,1,0,0,0,1,0,0
4,5,18,3.0,66,0,1,0,1,1,0,...,0,0,0,0,0,1,0,1,0,0

In [88]:
# Define the target set.
y = df["Depression"].ravel()
y[:5]

array([7, 7, 2, 8, 8], dtype=int64)

In [89]:
from sklearn.model_selection import train_test_split
from sklearn.metrics import confusion_matrix, accuracy_score, classification_report
from sklearn.preprocessing import StandardScaler


# Splitting into Train and Test sets.
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=78)

In [90]:
scaler = StandardScaler()
# Fitting the Standard Scaler with the training data.
X_scaler = scaler.fit(X_train)

# Scaling the data.
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

# Random Forest Classifier

In [91]:
from sklearn.ensemble import RandomForestClassifier

# Create a random forest classifier.
rf_model = RandomForestClassifier(n_estimators=128, random_state=78)

In [92]:
# Fitting the model
rf_model = rf_model.fit(X_train_scaled, y_train)

In [93]:
# Making predictions using the testing data.
predictions = rf_model.predict(X_test_scaled)

In [94]:
# Calculating the confusion matrix.
cm = confusion_matrix(y_test, predictions)

# Create a DataFrame from the confusion matrix.
cm_df = pd.DataFrame(
    cm)

cm_df

    0   1   2   3   4   5   6   7   8   9   10
0    2   1   6   0   0   0   2   3   2   0   1
1    1   0   2   0   1   0   2   3   1   0   0
2    1   0   4   1   2   3   0   1   0   0   0
3    1   0   3   0   0   0   0   3   1   0   1
4    1   0   3   0   1   1   5   1   0   0   0
5    1   0   4   0   3   1   3   0   0   1   1
6    2   0   5   1   3   0   3   3   4   0   1
7    2   1   4   0   1   0   4   7   2   0   0
8    2   0   5   1   4   1   5   1   0   0   0
9    1   0   2   1   0   0   0   1   1   0   0
10   2   1   1   2   0   0   2   2   1   0   1

In [95]:
# Calculating the accuracy score.
acc_score = accuracy_score(y_test, predictions)
acc_score

0.12337662337662338

In [96]:
# Displaying results
print("Random Forest Classification Confusion Matrix")
display(cm_df)
print(f"Accuracy Score : {acc_score}")
print("Classification Report")
print(classification_report(y_test, predictions))

Confusion Matrix

    0   1   2   3   4   5   6   7   8   9   10
0    2   1   6   0   0   0   2   3   2   0   1
1    1   0   2   0   1   0   2   3   1   0   0
2    1   0   4   1   2   3   0   1   0   0   0
3    1   0   3   0   0   0   0   3   1   0   1
4    1   0   3   0   1   1   5   1   0   0   0
5    1   0   4   0   3   1   3   0   0   1   1
6    2   0   5   1   3   0   3   3   4   0   1
7    2   1   4   0   1   0   4   7   2   0   0
8    2   0   5   1   4   1   5   1   0   0   0
9    1   0   2   1   0   0   0   1   1   0   0
10   2   1   1   2   0   0   2   2   1   0   1

Accuracy Score : 0.12337662337662338
Classification Report
              precision    recall  f1-score   support

           0       0.12      0.12      0.12        17
           1       0.00      0.00      0.00        10
           2       0.10      0.33      0.16        12
           3       0.00      0.00      0.00         9
           4       0.07      0.08      0.07        12
           5       0.17      0.07      0.10        14
           6       0.12      0.14      0.12        22
           7       0.28      0.33      0.30        21
           8       0.00      0.00      0.00        19
           9       0.00      0.00      0.00         6
          10       0.20      0.08      0.12        12

    accuracy                           0.12       154
   macro avg       0.10      0.11      0.09       154
weighted avg       0.11      0.12      0.11       154

### Easy Ensemble AdaBoost Classifier

In [97]:
# Train the EasyEnsembleClassifier
from imblearn.ensemble import EasyEnsembleClassifier

eec = EasyEnsembleClassifier(n_estimators=100, random_state=1)
eec.fit(X_train, y_train)

EasyEnsembleClassifier(n_estimators=100, random_state=1)

In [98]:
# Calculated the balanced accuracy score
from sklearn.metrics import accuracy_score

y_pred = eec.predict(X_test)
acc_score2 = accuracy_score(y_test, y_pred)
print(acc_score2)

0.08441558441558442

In [114]:
# Calculating the confusion matrix.
cm2 = confusion_matrix(y_test, y_pred)

# Create a DataFrame from the confusion matrix.
cm_df2 = pd.DataFrame(
    cm2)

cm_df2

    0   1   2   3   4   5   6   7   8   9   10
0    2   1   1   0   4   1   0   2   1   3   2
1    1   2   0   1   2   0   0   0   1   1   2
2    0   4   0   2   2   3   0   0   0   0   1
3    2   2   0   1   0   1   0   1   1   1   0
4    1   1   2   1   1   2   0   0   1   2   1
5    2   2   0   0   0   1   0   1   0   5   3
6    1   3   2   3   2   4   1   1   1   4   0
7    1   1   0   0   3   2   0   1   3   6   4
8    1   3   3   2   0   3   1   0   1   3   2
9    0   2   0   1   0   0   0   0   0   2   1
10   1   0   1   1   2   1   0   0   1   4   1

In [115]:
# Displaying results
print("Easy Ensemble AdaBoost Confusion Matrix")
display(cm_df2)
print(f"Accuracy Score : {acc_score2}")
print("Classification Report")
print(classification_report(y_test, y_pred))

Easy Ensemble AdaBoost Confusion Matrix

    0   1   2   3   4   5   6   7   8   9   10
0    2   1   1   0   4   1   0   2   1   3   2
1    1   2   0   1   2   0   0   0   1   1   2
2    0   4   0   2   2   3   0   0   0   0   1
3    2   2   0   1   0   1   0   1   1   1   0
4    1   1   2   1   1   2   0   0   1   2   1
5    2   2   0   0   0   1   0   1   0   5   3
6    1   3   2   3   2   4   1   1   1   4   0
7    1   1   0   0   3   2   0   1   3   6   4
8    1   3   3   2   0   3   1   0   1   3   2
9    0   2   0   1   0   0   0   0   0   2   1
10   1   0   1   1   2   1   0   0   1   4   1

Accuracy Score : 0.08441558441558442
Classification Report
              precision    recall  f1-score   support

           0       0.17      0.12      0.14        17
           1       0.10      0.20      0.13        10
           2       0.00      0.00      0.00        12
           3       0.08      0.11      0.10         9
           4       0.06      0.08      0.07        12
           5       0.06      0.07      0.06        14
           6       0.50      0.05      0.08        22
           7       0.17      0.05      0.07        21
           8       0.10      0.05      0.07        19
           9       0.06      0.33      0.11         6
          10       0.06      0.08      0.07        12

    accuracy                           0.08       154
   macro avg       0.12      0.10      0.08       154
weighted avg       0.15      0.08      0.08       154

### Naive Random Oversampling

In [99]:
# Resample the training data with the RandomOversampler
from imblearn.over_sampling import RandomOverSampler

ros = RandomOverSampler(random_state=1)
X_resampled, y_resampled = ros.fit_resample(X_train, y_train)

Counter(y_resampled)

Counter({6: 61,
         5: 61,
         2: 61,
         4: 61,
         1: 61,
         0: 61,
         3: 61,
         7: 61,
         8: 61,
         10: 61,
         9: 61})

In [100]:
# Train the Logistic Regression model using the resampled data
from sklearn.linear_model import LogisticRegression

model = LogisticRegression(random_state=1)
model.fit(X_resampled, y_resampled)

LogisticRegression(random_state=1)

In [101]:
y_pred2 = model.predict(X_test)

results = pd.DataFrame({"Prediction": y_pred2, "Actual": y_test}).reset_index(drop=True)
results.head(20)

    Prediction  Actual
0            8       8
1            8       6
2            8       2
3            8       3
4            8       0
5            8       2
6            8       0
7            8       1
8            8      10
9            8       7
10           8       8
11           8       6
12           8       9
13           8       0
14           8       1
15           8       3
16           8       9
17           8       5
18           8       7
19           8       1

In [102]:
# Calculated the accuracy score

ovr_acc_score=accuracy_score(y_test, y_pred2)
ovr_acc_score

0.11688311688311688

In [112]:
# Calculating the confusion matrix.
cm3 = confusion_matrix(y_test, y_pred2)

# Create a DataFrame from the confusion matrix.
cm_df3 = pd.DataFrame(
    cm3)

# Displaying results
print("Easy Ensemble AdaBoost Confusion Matrix")
display(cm_df3)
print(f"Accuracy Score : {ovr_acc_score}")
print("Classification Report")
print(classification_report(y_test, y_pred2))

Easy Ensemble AdaBoost Confusion Matrix

    0   1   2   3   4   5   6   7   8   9   10
0    0   0   0   0   0   0   0   0  17   0   0
1    0   0   0   0   0   0   0   0  10   0   0
2    0   0   0   0   0   0   0   0  12   0   0
3    0   0   0   0   0   0   0   0   9   0   0
4    0   0   0   0   0   0   0   0  12   0   0
5    0   0   0   0   0   0   0   0  14   0   0
6    0   0   0   0   0   0   0   0  22   0   0
7    0   0   0   0   0   0   0   0  21   0   0
8    0   0   0   0   0   0   0   0  18   0   1
9    0   0   0   0   0   0   0   0   6   0   0
10   0   0   0   0   0   0   0   0  12   0   0

Accuracy Score : 0.11688311688311688
Classification Report
              precision    recall  f1-score   support

           0       0.00      0.00      0.00        17
           1       0.00      0.00      0.00        10
           2       0.00      0.00      0.00        12
           3       0.00      0.00      0.00         9
           4       0.00      0.00      0.00        12
           5       0.00      0.00      0.00        14
           6       0.00      0.00      0.00        22
           7       0.00      0.00      0.00        21
           8       0.12      0.95      0.21        19
           9       0.00      0.00      0.00         6
          10       0.00      0.00      0.00        12

    accuracy                           0.12       154
   macro avg       0.01      0.09      0.02       154
weighted avg       0.01      0.12      0.03       154

### SMOTE Oversampling

In [103]:
# Resample the training data with SMOTE
from imblearn.over_sampling import SMOTE

X_resample2, y_resample2 = SMOTE(random_state=1, sampling_strategy='auto').fit_resample(X_train, y_train)

In [104]:
# Train the Logistic Regression model using the resampled data
model = LogisticRegression(random_state=1)

model.fit(X_resample2, y_resample2)
y_pred_sm = model.predict(X_test)

In [105]:
# Calculated the balanced accuracy score

acc_score_smote = accuracy_score(y_test, y_pred_sm)
acc_score_smote

0.07142857142857142

In [117]:
# Calculating the confusion matrix.
cm4 = confusion_matrix(y_test, y_pred_sm)

# Create a DataFrame from the confusion matrix.
cm_df4 = pd.DataFrame(
    cm4)

# Displaying results
print("SMOTE Confusion Matrix")
display(cm_df4)
print(f"Accuracy Score : {acc_score_smote}")
print("Classification Report")
print(classification_report(y_test, y_pred_sm))

SMOTE Confusion Matrix

    0   1   2   3   4   5   6   7   8   9   10
0    1   4   0   6   0   0   0   0   4   0   2
1    2   1   0   0   0   0   0   1   5   0   1
2    3   2   0   1   0   0   0   0   3   0   3
3    2   1   0   0   0   0   0   0   4   0   2
4    1   2   0   2   0   0   0   0   5   0   2
5    3   2   0   3   0   0   0   0   4   0   2
6    1   0   0   2   0   0   0   0  10   0   9
7    2   3   0   0   0   0   0   0  10   0   6
8    3   0   0   5   0   0   0   0   5   0   6
9    0   1   0   0   0   0   0   0   3   0   2
10   1   0   0   1   0   0   0   0   6   0   4

Accuracy Score : 0.07142857142857142
Classification Report
              precision    recall  f1-score   support

           0       0.05      0.06      0.06        17
           1       0.06      0.10      0.08        10
           2       0.00      0.00      0.00        12
           3       0.00      0.00      0.00         9
           4       0.00      0.00      0.00        12
           5       0.00      0.00      0.00        14
           6       0.00      0.00      0.00        22
           7       0.00      0.00      0.00        21
           8       0.08      0.26      0.13        19
           9       0.00      0.00      0.00         6
          10       0.10      0.33      0.16        12

    accuracy                           0.07       154
   macro avg       0.03      0.07      0.04       154
weighted avg       0.03      0.07      0.04       154

### Undersampling

In [106]:
# Resample the data using the ClusterCentroids resampler
from imblearn.under_sampling import ClusterCentroids

cc = ClusterCentroids(random_state=1)
X_resample3, y_resample3 = cc.fit_resample(X_train, y_train)
Counter(y_resample3)

Counter({0: 22,
         1: 22,
         2: 22,
         3: 22,
         4: 22,
         5: 22,
         6: 22,
         7: 22,
         8: 22,
         9: 22,
         10: 22})

In [107]:
# Train the Logistic Regression model using the resampled data

model = LogisticRegression(random_state=1)
model.fit(X_resample3, y_resample3)
y_pred_cc = model.predict(X_test)

In [108]:
# Calculated the balanced accuracy score

acc_score_under = accuracy_score(y_test, y_pred_cc)
acc_score_under

0.11688311688311688

In [118]:
# Calculating the confusion matrix.
cm5 = confusion_matrix(y_test, y_pred_cc)

# Create a DataFrame from the confusion matrix.
cm_df5 = pd.DataFrame(
    cm5)

# Displaying results
print("Undersampling Confusion Matrix")
display(cm_df5)
print(f"Accuracy Score : {acc_score_under}")
print("Classification Report")
print(classification_report(y_test, y_pred_cc))

Undersampling Confusion Matrix

    0   1   2   3   4   5   6   7   8   9   10
0    0   0   0   0   0   0   0   0  17   0   0
1    0   0   0   0   0   0   0   0  10   0   0
2    0   0   0   0   0   0   0   0  12   0   0
3    0   0   0   0   0   0   0   0   9   0   0
4    0   0   0   0   0   0   0   0  12   0   0
5    0   0   0   0   0   0   0   0  14   0   0
6    0   0   0   0   0   0   0   0  22   0   0
7    0   0   0   0   0   0   0   0  21   0   0
8    0   1   0   0   0   0   0   0  18   0   0
9    0   0   0   0   0   0   0   0   6   0   0
10   0   0   0   0   0   0   0   0  12   0   0

Accuracy Score : 0.11688311688311688
Classification Report
              precision    recall  f1-score   support

           0       0.00      0.00      0.00        17
           1       0.00      0.00      0.00        10
           2       0.00      0.00      0.00        12
           3       0.00      0.00      0.00         9
           4       0.00      0.00      0.00        12
           5       0.00      0.00      0.00        14
           6       0.00      0.00      0.00        22
           7       0.00      0.00      0.00        21
           8       0.12      0.95      0.21        19
           9       0.00      0.00      0.00         6
          10       0.00      0.00      0.00        12

    accuracy                           0.12       154
   macro avg       0.01      0.09      0.02       154
weighted avg       0.01      0.12      0.03       154

### SMOTEEM

In [109]:
# Resample the training data with SMOTEENN

from imblearn.combine import SMOTEENN
smote_enn = SMOTEENN(random_state=1)
X_resample4, y_resample4 = smote_enn.fit_resample(X, y)

In [110]:
# Train the Logistic Regression model using the resampled data
from sklearn.linear_model import LogisticRegression
model = LogisticRegression(random_state=1)

model.fit(X_resample4, y_resample4)

y_pred_st = model.predict(X_test)

In [111]:
# Calculated the balanced accuracy score
acc_score_smoteem = accuracy_score(y_test, y_pred_st)
acc_score_smoteem

0.12337662337662338

In [119]:
# Calculating the confusion matrix.
cm6 = confusion_matrix(y_test, y_pred_st)

# Create a DataFrame from the confusion matrix.
cm_df6 = pd.DataFrame(
    cm6)

# Displaying results
print("SMOTEEM Confusion Matrix")
display(cm_df6)
print(f"Accuracy Score : {acc_score_smoteem }")
print("Classification Report")
print(classification_report(y_test, y_pred_st))

SMOTEEM Confusion Matrix

    0   1   2   3   4   5   6   7   8   9   10
0    4   4   0   0   0   3   0   0   0   4   2
1    4   3   0   0   0   1   0   0   0   1   1
2    4   3   0   0   0   3   0   0   0   2   0
3    2   1   0   0   0   1   0   0   0   5   0
4    3   1   0   0   0   1   0   0   0   7   0
5    3   0   0   0   0   5   0   0   0   5   1
6    0   6   0   0   0   3   0   0   0   9   4
7    5   2   0   0   0   2   0   0   0   8   4
8    3   2   0   0   0   4   0   0   0   4   6
9    1   0   0   0   0   1   0   0   0   3   1
10   1   1   0   0   0   1   0   0   0   5   4

Accuracy Score : 0.12337662337662338
Classification Report
              precision    recall  f1-score   support

           0       0.13      0.24      0.17        17
           1       0.13      0.30      0.18        10
           2       0.00      0.00      0.00        12
           3       0.00      0.00      0.00         9
           4       0.00      0.00      0.00        12
           5       0.20      0.36      0.26        14
           6       0.00      0.00      0.00        22
           7       0.00      0.00      0.00        21
           8       0.00      0.00      0.00        19
           9       0.06      0.50      0.10         6
          10       0.17      0.33      0.23        12

    accuracy                           0.12       154
   macro avg       0.06      0.16      0.09       154
weighted avg       0.06      0.12      0.08       154